  
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
  
  <!-- emulate drupal -->
  <script src="/core/assets/vendor/domready/ready.min.js?v=1.0.8"></script>
  <script src="/core/assets/vendor/jquery/jquery.min.js?v=3.2.1"></script>
  <script src="/core/assets/vendor/jquery/jquery-extend-3.4.0.js?v=3.2.1"></script>
  <script src="/core/assets/vendor/jquery-once/jquery.once.min.js?v=2.2.0"></script>
  <script src="/core/misc/drupalSettingsLoader.js?v=8.7.1"></script>
  <script src="/core/misc/drupal.js?v=8.7.1"></script>
  <script src="/core/misc/drupal.init.js?v=8.7.1"></script>
  <script src="/core/misc/progress.js?v=8.7.1"></script>
  <script src="/core/misc/ajax.js?v=8.7.1"></script>
  <script src="../../../../dist/js/bootstrapita-config.min.js"></script>
  <script src="../../../../dist/vendors/bootstrap-italia/js/bootstrap-italia.bundle.min.js"></script>
  <script src="../../../../dist/utils/utils.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../dist/js/main.min.js?{{ cacheBuster }}"></script>
  <!-- // emulate drupal -->
  
  </body>
</html>
