<div class="bootstrap-select-wrapper">
  <label for="{{ id }}">{{ label }}</label>
  <select id="{{ id }}" title="{{ title }}">
    <option value="Value 1">Opzione 1</option>
    <option value="Value 2">Opzione 2</option>
  </select>
</div>