<ul class="sg-colors">
  <li class="sg-swatch color-white">
    <span class="color"></span>
    <span class="sg-name"></span>
    <span class="sg-info"></span>
  </li>
  <li class="sg-swatch color-gray-lighter">
    <span class="color"></span>
    <span class="sg-name"></span>
    <span class="sg-info"></span>
  </li>
  <li class="sg-swatch color-gray-light">
    <span class="color"></span>
    <span class="sg-name"></span>
    <span class="sg-info"></span>
  </li>
  <li class="sg-swatch color-gray">
    <span class="color"></span>
    <span class="sg-name"></span>
    <span class="sg-info"></span>
  </li>
  <li class="sg-swatch color-gray-dark">
    <span class="color"></span>
    <span class="sg-name"></span>
    <span class="sg-info"></span>
  </li>
  <li class="sg-swatch color-gray-darker">
    <span class="color"></span>
    <span class="sg-name"></span>
    <span class="sg-info"></span>
  </li>
  <li class="sg-swatch color-black">
    <span class="color"></span>
    <span class="sg-name"></span>
    <span class="sg-info"></span>
  </li>
</ul>