<ul class="sg-fonts">
  <li class="sg-font-primary">
    <p class="sg-font-preview">{{ excerpt.html|raw }}</p>
    <p class="sg-info sg-font-stack"></p>
    <p class="sg-label">Primary</p>
  </li>
  <li class="sg-font-secondary">
    <p class="sg-font-preview">{{ excerpt.html|raw }}</p>
    <p class="sg-info sg-font-stack"></p>
    <p class="sg-label">Secondary</p>
  </li>
</ul>