.menu--social {
  .menu {
    align-items: center;
    display: flex;
    margin: 0;
    li + li {
      margin-left: $gap * 2;
    }
  }

  // Footer.
  .it-footer & {
    .menu-item .icon {
      background-color: $color-white;
      border-radius: 50%;
      fill: $color-blue-slater;
      padding: 4px;
    }
  }
} 