// Breadcrumb.
.it-dark .breadcrumb-container .breadcrumb .breadcrumb-link {
  font-weight: 600;
}

.user-logged-in {
  #block-portalemessina-local-tasks {
    padding: 0;
    font-size: $font-normal;
    z-index: 50;
  }
}
